/*common.css*/
/*문서 전체에 영향을 미치는 css*/

/*모든 컨텐츠 가운데 정렬*/
* {margin:0 auto;}

/*모든 컨텐츠를 포함하는 div (id wrap)*/
#wrap {
    width:100%;
    background-color:#eeeeee; /*배경색*/
    text-align:center;
    position:relative; /*최상위태그의 포지션 지정*/
}

/* 모든 <img>태그 테두리, 마진 없음*/
img {border:0; margin:0;}


/***************************** HeaderBox *****************************/
#headerBox {
    background-color:white;
    height:120px;
    padding:0;
}

#logoBox {
    float:left;
}

#logoBox img {
    width:100px;
    height:100px;
    padding-top:10px;
    padding-left:10px;
}

#loginBox {
    margin-top:10px;
    margin-right:0px;
    float:right;
}

#loginBox ul li {
    display:inline-block;
    padding:10px;
}

#loginBox a {
    color:#FF9600;
    font-weight:bold;
    text-decoration:none;
}

/***************************** mainMenuBox *****************************/
#mainMenuBox {
    width:100%;
    background-color:white;
    display:inline-block;
    float:right;
}

#mainMenuBox ul li {
    display:inline-block;
    padding:10px;
}

#mainMenuBox a {
    color:#FF9600;
    font-weight:bold;
    text-decoration:none;
}


/***************************** footerBox *****************************/
#footerBox div {
    background-color:#FFB300;
    border:solid 1px #FF9600;
    padding:20px;
    clear : both;
}


/***************************** bottomMenu *****************************/
#bottomMenuBox {
    height:30px;
    line-height:30px;
}

#bottomMenuBox li {
    display:inline-block;
    text-align:center;
    padding:5px;
}

#bottomMenuBox a {
    color:white;
    font-weight:bold;
    text-decoration:none;
}

#companyInfoBox li {
    display:inline-block;
    text-align:center;
    padding:5px;
    color:white;
    font-weight:bold;
    text-decoration:none;
}

#moveToTopBox img {
    width:5%;
    height:5%;
    padding-top:5px;
    padding-left:5px;
}

/*★★★★★★★★★★★★★★★메뉴 페이지★★★★★★★★★★★★★★★★★*/
/*★메뉴★*/
#menuBox{
    background-color:#659999;
}

#menuBox ul li {
    display:inline-block;
    padding:20px;
}

#menuBox a {
    color:white;
    font-weight:bold;
    text-decoration:none;

}
/*★상품★*/
#productBox {
    height:800px;
    display:inline;
}

.product div{
    font-size:10pt;
    display:inline-block;
    margin:15px;
}

.product img{
    height:200px;
    width:200px;

}