/*★★★★★★★★★★★★★★★메뉴 페이지★★★★★★★★★★★★★★★★★*/
/*★메뉴★*/
#menuBox{
    background-color:#146eb4;

    z-index:10; /*스크롤시*/
    width:1280px; /*웹 크기 줄이면 글자 중앙 배치 안 됨*/
}
/**#FFB300**/
#menuBox ul li {
    display:inline-block;
    padding:10px;
    padding-right:50px;
    text-align:left; /*글자 왼쪽 정렬 안 됨*/
}

#menuBox a {
    color:white;
    font-weight:bold;
    text-decoration:none;
}


/*subtitle*/
#sub_title {
    width:100%;
    float:right;
    margin-top:30px;
}

#sub_title h1 {
    font-size:36px;
    font-weight:bold;
    text-align:left;
    width:50%;
    margin:0;
    padding-left:100px;
    text-shadow: 2px 2px 2px #C2C2C2;
}

#map {
    float:right;
    margin-right:30px;
}
#map li {
    display:inline-block;
    padding:5px;
}

#map a {
    color:#737373;
    font-size:13px;
    text-decoration:none;
}

/*★상품 공통★*/

/*
.productBox {
    display:none;
}*/

.product div{
    display:inline-block;
    margin:15px;
}

.product img{
    height:250px;
    width:250px;
}

.product a{
    text-decoration: none;
    font-weight:bold;
    font-size:10pt;
    color: black;
}

/*★상품 카테고리별★*/
#coffee{
    height: 1050px;
    background: #fff9ea;
}

#coffee h2{
    color:#146eb4;
    font-weight:bold;
    font-size:25pt;
    margin-bottom:20px;
    margin-top:10px;
}

#beverage{
    height: 1050px;
    background: #fff9ea;
}

#beverage h2{
    color:#146eb4;
    font-weight:bold;
    font-size:25pt;
    margin-bottom:20px;
    margin-top:10px;
}

#bread{
    height: 1050px;
    background: #fff9ea;
}

#bread h2{
    color:#146eb4;
    font-weight:bold;
    font-size:25pt;
    margin-bottom:20px;
    margin-top:10px;
}

#icecream{
    height: 1050px;
    background: #fff9ea;
}

#icecream h2{
    color:#146eb4;
    font-weight:bold;
    font-size:25pt;
    margin-bottom:20px;
    margin-top:10px;
}

.product div:hover{
    transform: scale(1.1, 1.1);
    transition:transform 1s;
}

/*★for js★*/
.menuBoxFixed{
    position:fixed;
    top:0;
    z-index:10;
}


