<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>log_in</title>


    <!--회원가입 버튼을 누르면 회원가입.html창으로 가기 위함-->
     <script type="text/javascript">
        function openWindow(){
				window.open("signup.html","회원가입",
                'top=200px, left=200px, height=700px, width=700px, location=yes, menubar=yes, resizable=yes, status=yes, toolbar=yes, scrollbar=yes, fullscreen=yes');
			}
    </script>

    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/signInUp.css">

</head>
<body>

    <div id="wrap">
        <header>
            <div id="headerBox">
                <div id="logoBox"><a href="main.html"><img src="../image/logo.png" id="logoImg"></a></div>
                <div id="loginBox">
                    <ul id="signIn">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">My Angels</a></li>
                        <li><a href="#">STORE</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <nav>
            <div id="mainMenuBox">
                <ul id="menuItem">
                    	<li><a href="#">MENU</a></li>
                        <li><a href="#">STORE</a></li>
                        <li><a href="#">SERVICE</a></li>
                </ul>
            </div>
        </nav>

    <section>
        <div><h1>로그인</h1></div>
        <form method="post" action="#폼의 내용을 전달할 문서명 정보가 전달될 서버 페이지의 주소"> <!--장고할 때 action="{% url 'accounts:login' %}" -->
        <!--장고할 때   {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}"> --> <!-- 로그인 성공후 이동되는 URL --> <!--settings.py에 등록하러 ㄱㄱ-->
        <!-- {% include "form_errors.html" %}  -->

        <table align="center" id="loginTable">
            <tr><td colspan="2"><h4><br>angel in star 에 오신 것을 환영합니다!<br></h4></td></tr>

            <!--아이디 입력-->
            <tr><td>사용자 이름</td> <td><input type="text" id="id" maxlength="8">  </td></tr>
            <!-- 장고 쓸 때 input안에 넣기   value="{{ form.username.value|default_if_none:'' }}"  -->

            <!--비밀번호 입력-->
            <tr><td>비밀번호</td> <td><input type="password" id="pw" maxlength="12"> </td></tr>
            <!-- 장고 쓸 때 input안에 넣기    value="{{ form.password.value|default_if_none:'' }}"   -->

            <tr><td><br><input type="submit" class=btn value="로그인" role="button"></td>

            <!--로그인 버튼 누르면 탑메뉴의 로그인버튼 수정되고 아이디님 반갑습니다/안녕하세요 표시되고 메인페이지로 설정/->장고로-->
            <td><br><button type="submit" class=btn onclick="openWindow()" >회원가입</button></td></tr><!--회원가입 버튼 누르면 회원가입.html창이 열리도록-->
        </table>

        </form>


    </section>

<!--해야할 것

장고
로그인 버튼 누르면 데이터가 db로 저장되고, 메인페이지로 HttpRedirect뭐시기ㄱㄱ
회원가입 버튼 누르면 회원가입.html로 ㄱㄱ
-->



<footer>
            <div id="footerBox">
                <div id="bottomMenuBox">
                    <ul id="bottomMenuItem">
                        <li><a href="#">COMPANY</a></li>
                        <li><a href="#">CORPORATE SALES</a></li>
                        <li><a href="#">PARTNERSHIP</a></li>
                        <li><a href="#">ONLINE COMMUNITY</a></li>
                        <li><a href="#">RECRUIT</a></li>
                    </ul>
                </div>

                <div id="companyInfoBox">
                    <ul id="companyInfo">
                        <li>사업자등록번호</li>
                        <li>주식회사 엔젤</li>
                        <li>TEL:1555-1555</li>
                        <li>개인정보처리방침</li>
                        <li>@ 2022 Angle in Star Company. All Rights Reserved</li>
                    </ul>
                </div>
                <div id="moveToTopBox"><img src="../image/moveToTop.png" id="moveToTop"></div>
            </div>
        </footer>
    </div> <!-- wrap 끝 -->

</body>
</html>