{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngleinStar 메인페이지</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/common.css'%}">
</head>
<body>
    <div id="wrap">
        <header>
            <div id="headerBox">
                <div id="logoBox"><a href="main.html"><img src="{%static 'image/logo.png'%}" id="logoImg"></a></div>
                <div id="loginBox">
                    <ul id="signIn">
                        <li><a href="#">Sign In</a></li>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">My Angels</a></li>
                        <li><a href="#">STORE</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <nav>
            <div id="mainMenuBox">
                <ul id="menuItem">
                    	<li><a href="#">MENU</a></li>
                        <li><a href="#">STORE</a></li>
                        <li><a href="#">SERVICE</a></li>
                </ul>
            </div>
        </nav>

        <section>
            <article id="slideShow">

            </article>

            <article id="menubox1">

            </article>

            <article id="menubox2">

            </article>

            <article id="menubox3">

            </article>

            <article id="menubox4">

            </article>

        </section>

        <footer>
            <div id="footerBox">
                <div id="bottomMenuBox">
                    <ul id="bottomMenuItem">
                        <li><a href="#">COMPANY</a></li>
                        <li><a href="#">CORPORATE SALES</a></li>
                        <li><a href="#">PARTNERSHIP</a></li>
                        <li><a href="#">ONLINE COMMUNITY</a></li>
                        <li><a href="#">RECRUIT</a></li>
                    </ul>
                </div>

                <div id="companyInfoBox">
                    <ul id="companyInfo">
                        <li>사업자등록번호</li>
                        <li>주식회사 엔젤</li>
                        <li>TEL:1555-1555</li>
                        <li>개인정보처리방침</li>
                        <li>@ 2022 Angle in Star Company. All Rights Reserved</li>
                    </ul>
                </div>
                <div id="moveToTopBox"><img src="{%static 'image/moveToTop.png'%}" id="moveToTop"></div>
            </div>
        </footer>
    </div> <!-- wrap 끝 -->

</body>
</html>