{% load static %}

    <div id="wrap">
        <header>
            <div id="headerBox">
                <div id="logoBox"><a href="main.html"><img src="{%static 'image/logo.png'%}" id="logoImg"></a></div>
                <div id="loginBox">
                    <ul id="signIn">
                        {% if user.is_authenticated %}
                        <a class="nav_link" href="{%url 'accounts:logout'%}">{{user.username}}(Log Out)</a>
                        {% else %}
                        <li><a href="{%url 'accounts:login'%}">Sign In</a></li>
                        {% endif %}
                        <li><a href="{%url 'accounts:signup'%}">Sign Up</a></li>
                        <li><a href="#">My Angels</a></li>
                        <li><a href="#">STORE</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <nav>
            <div id="mainMenuBox">
                <ul id="menuItem">
                    	<li><a href="#">MENU</a></li>
                        <li><a href="#">STORE</a></li>
                        <li><a href="#">SERVICE</a></li>
                </ul>
            </div>
        </nav>
    </div> <!-- wrap 끝 -->
