{% extends "base.html" %}
{% block content %}

    <section>
        <div align="center">
        <h1 class="signTxt">회원가입</h1>
        <form method="post" id="signUpForm"> <!--form: 입력양식 구성하고 서버로 사용자 입력정보의 전송을 담당하기 위함 -->
            {% csrf_token %}
            {% include "form_errors.html" %}

            <table id="signUpTable">
                <tr><td colspan="2"><h4><br>angel in star 에 오신 것을 환영합니다!<br></h4></td></tr>

                <tr><td>사용자 이름</td><td><input type="text" id="username" name="username"
                                                 value="{{ form.username.value|default_if_none:'' }}"></td></tr>

                <tr><td>비밀번호</td><td><input type="password" id="password1" name="password1"
                                              value="{{ form.password1.value|default_if_none:'' }}"></td></tr>

                 <tr><td>비밀번호확인</td><td><input type="password" id="password2" name="password2"
                                                   value="{{ form.password2.value|default_if_none:'' }}"></td></tr>

                <tr><td>이메일</td><td><input type="email" id="email" name="email"
                                             value="{{ form.email.value|default_if_none:'' }}"></td></tr>

                <tr>
                    <td></td><td colspan="2" align="right"><br><button type="submit" class="btn">회원가입</button></td>
                </tr>
            </table>

        </form>
    </div>

    </section>



{% endblock %}