/* cs.css */
/* cs 페이지 적용 css */

/***** 배너 사진 적용 -> 나중에 교체 가능 *****/
#faqImgBox {
    width:100%;
    height:30%;
    line-height:80px;
    padding-top:25px;
    background-color:#43301d;
}

#faqImgBox img {
    display:inline-block;
    width:100%;
    padding-top:10px;
}

/***** 배너 밑 faq 박스 만듦 *****/
#faqBox {
    width:100%;
    height:400px;
    float:left;
    background-color:white;
    margin-top:0;
}

/***** 질문창 감싸는 박스 *****/
#faq {
    position:relative;
    width:70%;
    height:320px;
    float:left;
    background-color:#EAEAEA;
    margin-top:30px;
    margin-left:30px;
}

#faq h3 {
    font-size:18px;
    text-align:left;
    margin-left:40px;
    padding-top:25px;
}


/***** 질문창 ******/
#questionBox {
    position:relative;
    width:70%;
    height:80px;
    border-radius:10px;
    background-color:#D8D8D8;
    float:left;
    margin-top:20px;
    margin-left:30px;
}

#question {
    display:inline-block;
    position:relative;
    width:80%;
    height:55px;
    font-size:18px;
    font-weight:bold;
    border:0;
    border-radius:15px;
    outline:none;
    background-color:white;
    margin-top:10px;
    margin-right:0;

}

/**** 검색 버튼 ****/
#searchBtn {
    position:relative;
    float:right;
    padding-top:10px;
    padding-right:20px;
    cursor:pointer;
}

#searchBtn img{
    width:70px;
    height:70px;
}

/**** 답변창 ****/
#answer {
    display:inline-block;
    position:relative;
    width:80%;
    height:110px;
    font-size:15px;
    font-weight:bold;
    border:0;
    border-radius:18px;
    outline:none;
    background-color:white;
    margin-top:120px;
    margin-left:30px;
}

/**** 사용자 게시판 *****/
#customerBox {
    position:relative;
    width:100%;
    height:600px;
    float:left;
    padding-top:0;
    background-color:white;
}

#csBox {
    position:relative;
    width:50%;
    height:300px;
    float:left;
    background-color:#EAEAEA;
    margin-bottom:30px;
    margin-left:30px;
}

#csBox h3 {
    font-size:18px;
    text-align:left;
    margin-left:40px;
    padding-top:30px;
}

#csBox h {
    font-size:16px;
    padding-top:30px;
    font-weight:bold;
}

#faqList {
    width:90%;
    height:180px;
    margin-top:20px;
    margin-left:30px;
    float:left;
    border-radius:15px;
    border:none;
    background-color:white;
    font-size:18px;
}

#faqList li {
    text-align:left;
    font-size:17px;
    font-weight:bold;
    padding-left:10px;
}

/***** 고객의 소리로 이동 *****/
#moveToCommu {
    position:relative;
    width:20%;
    height:300px;
    float:right;
    background-color:#EAEAEA;
    margin-bottom:30px;
    margin-left:30px;
}

#moveToCommu h {
    font-weight:bold;
    font-size:18px;
    padding-top:10px;
}

#moveToCommu img {
    display:inline-block;
    width:170px;
    height:170px;
    padding-top:20px;
}

#moveToCommunity {
    display:inline-block;
    float:bottom;
    width:180px;
    height:40px;
    margin-top:15px;
    font-size:16px;
    background-color:#F6F6F6;
    border-radius:10px;
    border:3px solid #752B00;
}

#moveToCommunity:hover{color:#752B00;font-weight:bold;}

/***** 사이드 이미지 *****/
#imgBox {
    position:relative;
    float:right;
    width:25%;
    padding-top:20px;
}

#imgBox img {
    position:relative;
    width:80%;
    height:500px;
}

#imgBox2 {
    position:relative;
    float:right;
    width:25%;
    padding-top:30px;
    padding-left:0;
}

#imgBox2 img {
    position:relative;
    width:80%;
    height:490px;
    opacity:0.8;
}

#bottomImg {
    position:relative;
    width:75%;
    float:left;
    padding-top:20px;
}

#bottomImg img {
    position:relative;
    display:inline-block;
    width:90%;
    height:200px;

}