/* cs.css */
/* cs 페이지 적용 css */

/***** 배너 사진 적용 -> 나중에 교체 가능 *****/
#faqImgBox {
    width:100%;
    height:30%;
    line-height:80px;
    padding-top:50px;
    background-color:#063D31;
}

#faqImgBox img {
    display:inline-block;
    width:100%;
    padding-top:20px;
}

/***** 배너 밑 faq 박스 만듦 *****/
#faqBox {
    width:100%;
    height:300px;
    float:left;
    background-color:white;
    margin-top:0;
}

/***** 질문창 감싸는 박스 *****/
#faq {
    position:relative;
    width:70%;
    height:240px;
    float:left;
    background-color:#EAEAEA;
    margin-top:30px;
    margin-left:30px;
}

#faq h3 {
    font-size:16px;
    text-align:left;
    margin-left:40px;
    padding-top:25px;
    font-family:"한컴산뜻돋움";  /*** 나중에 전체 적용 ***/
}


/***** 질문창 ******/
#questionBox {
    position:relative;
    width:70%;
    height:50px;
    border-radius:10px;
    background-color:#D8D8D8;
    float:left;
    margin-top:20px;
    margin-left:30px;
}

#question {
    display:inline-block;
    position:relative;
    width:80%;
    height:30px;
    font-size:15px;
    font-weight:bold;
    border:0;
    border-radius:15px;
    outline:none;
    background-color:white;
    margin-top:8px;
    margin-right:0;
    font-family:"한컴산뜻돋움";  /*** 나중에 전체 적용 ***/
}

/**** 검색 버튼 ****/
#searchBtn {
    position:relative;
    float:right;
    padding-top:0;
    padding-right:20px;
    cursor:pointer;
}

#searchBtn img{
    width:55px;
    height:55px;
}

/**** 답변창 ****/

#answer {
    display:inline-block;
    position:relative;
    width:80%;
    height:80px;
    font-size:15px;
    font-weight:bold;
    border:0;
    border-radius:18px;
    outline:none;
    background-color:white;
    margin-top:85px;
    margin-left:30px;
    font-family:"한컴산뜻돋움";  /*** 나중에 전체 적용 ***/
}

/**** 사용자 게시판 *****/
#customerBox {
    position:relative;
    width:100%;
    height:40%;
    float:left;
    padding-top:10px;
    background-color:white;
}

#csBox {
    position:relative;
    width:70%;
    height:250px;
    float:left;
    background-color:#EAEAEA;
    margin-bottom:30px;
    margin-left:30px;
}

#csBox h3 {
    font-size:16px;
    text-align:left;
    margin-left:40px;
    padding-top:30px;
    font-family:"한컴산뜻돋움";  /*** 나중에 전체 적용 ***/
}

#writeBox {
    position:relative;
    width:70%;
    height:120px;
    border-radius:10px;
    background-color:#E7E7E7;
    float:left;
    margin-top:0;
    margin-left:30px;
}

#opinion {
    width:95%;
    height:150px;
    margin-top:20px;
    border-radius:15px;
    border:none;
    background-color:white;
    font-size:15px;
    font-family:"한컴산뜻돋움";  /*** 나중에 전체 적용 ***/
}

#opinionBtn {
    width:10%;
    height:30px;
    position:relative;
    margin-top:65px;
    padding-left:5px;
    font-family:"한컴산뜻돋움";  /*** 나중에 전체 적용 ***/
    border:none;
    border-radius:18px;
    background-color:#DBDBDB;
    cursor:pointer;
}

/***** 사이드 이미지 *****/
#imgBox {
    position:relative;
    float:right;
    width:25%;
    padding-top:20px;
}

#imgBox img {
    position:relative;
    width:80%;
    height:80%;
}

#imgBox2 {
    position:relative;
    float:right;
    width:25%;
    padding-top:30px;
    padding-left:0;
}

#imgBox2 img {
    position:relative;
    width:80%;
    height:350px;
    opacity:0.8;
}

#bottomImg {
    position:relative;
    width:100%;

}

#bottomImg img {
    position:relative;
    width:70%;
    height:170px;
}