/*★★★★★★★★★★★★★★★메뉴 페이지★★★★★★★★★★★★★★★★★*/
/*★메뉴★*/
#menuProduct{
    width:100%;
    background-color:#805900;
    margin-top:25px;
    position:relative;
}



#menuBox ul li {
    display:inline-block;
    padding:10px;
    padding-right:50px;
}

#menuBox a {
    color:white;
    font-weight:bold;
    text-decoration:none;
}


/*subtitle*/
.sub_title {
    width:100%;
    float:right;
    margin-top:30px;
}

.sub_title h1 {
    font-size:36px;
    font-weight:bold;
    text-align:left;
    width:50%;
    margin:0;
    padding-left:100px;
    text-shadow: 2px 2px 2px #C2C2C2;
}

/*map*/
.map {
    float:right;
    margin-right:30px;
}

.map li {
    display:inline-block;
    padding:5px;
}

.map a {
    color:#737373;
    font-size:13px;
    text-decoration:none;
}

/*for js*/
.sub_title{
    display:none;
}

/*for js*/
.click_sub_title{
    display:block;
}

/*★상품 공통★*/

.product div{
    display:inline-block;
    margin:15px;
    height:250px;
    width:250px;
    overflow:hidden;
    margin-bottom:5px;
}

.product dl{
    display:inline-block;
    text-decoration: none;
    font-weight:bold;
    font-size:10pt;
    color: black;
}

.product img{
    height:250px;
    width:250px;
}


/*★상품 카테고리별★*/
.productBox{
    padding-bottom: 50px;
    background: #fff9ea;
}

.productBox h2{
    color:#805900;
    font-weight:bold;
    font-size:25pt;
    margin-bottom:20px;
    margin-top:10px;
}

.product img:hover{
    transform: scale(1.1, 1.1);
    transition:transform 1s;
}




/*말풍선 css*/
.bubble
{
    width: 205px;
    height: 60px;
    padding: 0px;
    background: #FFFFFF;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 13px 7px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -13px;
    left: 32px;
}

.bubble{
    float:left;
    position:fixed;
    z-index:20;
    opacity:0.9;
    margin-left:5px;
    margin-top:40px; /*버블 이미지 위치 조절(스크롤 내리면 헤더와 겹침)*/
    font-size:9pt;
    text-align:left;

}

.bubble img{
    height:150px;
    width:150px;
    margin-top:20px;
    margin-left:25px;
}

#msg{
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
}

/*js 파일에서 사용하기 위함*/
.bubbleBoxFixed{
    position:fixed;
    margin-top:220px;
}