/*GLOBALS*/
*{margin:0; padding:0; list-style:none;}
a{text-decoration:none; color:#666;}
a:hover{color:#1bc1a3;}
body, hmtl{background: #ecf0f1; font-family: 'Anton', sans-serif;}


#wrapper{
  height: 581px;
                width: 100vw;
                 margin: auto;
  position:relative;
  color:#fff;
  text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;
}

#slider-wrap{
  height: 581px;
                width: 100vw;
                margin: auto;
  position:relative;
  overflow:hidden;
}

#slider-wrap ul#slider{
  width:100%;
  height:100%;

  position:absolute;
  top:0;
  left:0;
}

#slider-wrap ul#slider li{
  float:left;
  position:relative;
  height: 581px;
                width: 100vw;
                margin: auto;
}

#slider-wrap ul#slider li > div{
  position:absolute;
  top:20px;
  left:35px;
}

#slider-wrap ul#slider li > div h3{
  font-size:36px;
  text-transform:uppercase;
}

#slider-wrap ul#slider li > div span{
  font-family: Neucha, Arial, sans serif;
  font-size:21px;
}

#slider-wrap ul#slider li img{
  display:block;
  width:100%;
  height: 100%;
}


/*btns*/
.btns{
  position:absolute;
  width:50px;
  height:60px;
  top:50%;
  margin-top:-25px;
  line-height:57px;
  text-align:center;
  cursor:pointer;
  background:rgba(0,0,0,0.1);
  z-index:100;


  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.btns:hover{
  background:rgba(0,0,0,0.3);
}

#next{right:-50px; border-radius:7px 0px 0px 7px;}
#previous{left:-50px; border-radius:0px 7px 7px 7px;}
#counter{
  top: 30px;
  right:35px;
  width:auto;
  position:absolute;
}

#slider-wrap.active #next{right:0px;}
#slider-wrap.active #previous{left:0px;}


/*bar*/
#pagination-wrap{
  min-width:20px;
  margin-top:350px;
  margin-left: auto;
  margin-right: auto;
  height:15px;
  position:relative;
  text-align:center;
}

#pagination-wrap ul {
  width:100%;
}

#pagination-wrap ul li{
  margin: 0 4px;
  display: inline-block;
  width:5px;
  height:5px;
  border-radius:50%;
  background:#fff;
  opacity:0.5;
  position:relative;
  top:0;


}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
  opacity:1;
  box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;
}




/*Header*/
h1, h2{text-shadow:none; text-align:center;}
h1{ color: #666; text-transform:uppercase;  font-size:36px;}
h2{ color: #7f8c8d; font-family: Neucha, Arial, sans serif; font-size:18px; margin-bottom:30px;}




/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
  -webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  -ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
  transition: all 0.3s cubic-bezier(1,.01,.32,1);
}

/*id fixed02*/
#fixed02{
    height:600px;
    background:url(https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Spring_main_bg.jpg);
}

#fixed02_pic{
    position: absolute;
    top: 1350px;
    right:700px;
}

#fixed02_txt{
    font-size:3em;
    width:350px;
    text-align:left;
    color:#f2a5a5;
    position: absolute;
    top: 1450px;
    left:900px;
    animation: fixed02_slide 3s ease-out;
}

@keyframes fixed02_slide{
    from{
        left:-200px;
        opacity:0;
    }
    to{
        left:900px;
        opacity:1;
    }
}

/*id fixed03*/
#fixed03{
    height:500px;
    width:100%;
    background:url(https://www.dior.com/couture/var/dior/storage/images/horizon/news-savoir-faire/news-exhibitions/%EC%B9%B4%ED%8E%98-%EB%94%94%EC%98%AC-by-%ED%94%BC%EC%97%90%EB%A5%B4-%EC%97%90%EB%A5%B4%EB%A9%94/cover-2/19461615-4-kor-KR/cover-2_1440_1200.jpg);
}

#fixed03_txt{
    font-size:3em;
    width:350px;
    text-align:right;
    color:#404040;
    position: absolute;
    top: 2000px;
    left:200px;
    text-shadow: 2px 3px 5px white;
    animation: fixed03_slide 3s ease-out;
}

@keyframes fixed03_slide{
    from{
        left:-100px;
        opacity:0;
    }
    to{
        left:200px;
        opacity:1;
    }
}