/* store.css */

#store {
    width:100%;
    height:800px;
}

#search {
    width:30%;
    height:800px;
    float:left;
}

#topSearch {
    width:100%;
    height:170px;
    background-color:#003E00;
    color:#E4E4E4;
    padding-top:10px;
}

#topSearch h {
    font-size:18px;
    font-family:"한컴산뜻돋움";
    font-weight:bold;
    padding-top:5px;
}

#topSearch h2 {
    font-size:16px;
    font-family:"한컴산뜻돋움";
    font-weight:bold;
    padding-top:10px;
    padding-bottom:10px;
}

#keyword {
    width:40%;
    height:20px;
    padding-top:5px;
}

#subBtn {
    width:10%;
    height:35px;
}

#map {
    width:70%;
    height:800px;
    float:right;
}

#placeList {
    width:100%;
    height:690px;
    background-color:#F6F6F6;
    overflow:scroll;
}

#placeList li {
    display:inline-block;
    font-size:14px;
    font-family:"한컴산뜻돋움";
    color:black;
    padding-top:10px;
    padding-left:0;
    text-align:center;
}

#placeList img {
    width:40px;
    height:50px;
    float:left;
    padding-left:20px;
    padding-top:10px;
}
