body {
   margin:0;
}
#slider-wrap{
   overflow-y:hidden;
   overflow-x:hidden;
   width:100%;
}

.main_body {
   width:500px;
   margin: 0 auto;
   height:800px;
   border:1px solid blue;

}
.sub_body {
   width:100vw;
   margin-left: calc(-50vw + 50%);
   height:200px;
   border:1px solid green;

}