.box { width: 100px; height: 100px; background-color: aqua; margin: 30px auto 30px auto; text-align: center; }
#scale:hover {
  transform: scale(1.5);
  transform-origin: 0 100%;
  transition: transform 1s;
}
#rotateX:hover {
  transform: rotateX(45deg);
  transform-origin: 100% 0;
  transition: transform 1s;
}
#rotateY:hover {
  transform: rotateY(45deg);
  transform-origin: 0 100%;
  transition: transform 1s;
}
#rotateZ:hover {
  transform: rotateZ(45deg);
  transition: transform 1s;
}
#rotateZtopleft:hover {
  transform: rotateZ(45deg);
  transform-origin: top left;
  transition: transform 1s;
}
#skewX:hover {
  transform: skewX(45deg);
  transition: transform 1s;
}
#skewY:hover {
  transform: skewY(45deg);
  transition: transform 1s;
}
#translateX:hover {
  transform: translateX(50%);
  transition: transform 1s;
}
#translateY:hover {
  transform: translateY(50%);
  transition: transform 1s;
}