/*★★★★★★★★★★★★★★★메뉴 페이지★★★★★★★★★★★★★★★★★*/
/*★메뉴★*/
#menuBox{
    background-color:#146eb4;
}
/**#FFB300**/
#menuBox ul li {
    display:inline-block;
    padding:10px;
    padding-right:50px;
    text-align:left; /*글자 왼쪽 정렬 안 됨*/
}

#menuBox a {
    color:white;
    font-weight:bold;
    text-decoration:none;
}
/*★상품 공통★*/

/*
.productBox {
    display:none;
}*/

.product div{
    display:inline-block;
    margin:15px;
}

.product img{
    height:250px;
    width:250px;
}

.product a{
    text-decoration: none;
    font-weight:bold;
    font-size:10pt;
    color: black;
}

/*★상품 카테고리별★*/
#coffee{
    height: 1050px;
    background: #fff9ea;
}

#coffee h2{
    color:#146eb4;
    font-weight:bold;
    font-size:25pt;
    margin-bottom:20px;
    margin-top:10px;
}

#beverage{
    height: 1050px;
    background: #fff9ea;
}

#beverage h2{
    color:#146eb4;
    font-weight:bold;
    font-size:25pt;
    margin-bottom:20px;
    margin-top:10px;
}

#bread{
    height: 1050px;
    background: #fff9ea;
}

#bread h2{
    color:#146eb4;
    font-weight:bold;
    font-size:25pt;
    margin-bottom:20px;
    margin-top:10px;
}

#icecream{
    height: 1050px;
    background: #fff9ea;
}

#icecream h2{
    color:#146eb4;
    font-weight:bold;
    font-size:25pt;
    margin-bottom:20px;
    margin-top:10px;
}

.product div:hover{
    opacity:0.8;
}