{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AngleinStar:Menu상세보기</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/common.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/menu.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/menuDetail.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <script src="{%static 'js/jquery-3.5.1.min.js'%}"></script>
    <script src="{%static 'js/menuDetail.js'%}"></script>
    <script src="{%static 'js/menu.js'%}"></script>
    <script type="text/javascript"></script>
</head>
<body>
 <div id="wrap">
        <header>
            <div id="headerBox">
                <div id="logoBox"><a href="{%url 'main:main'%}"><img src="{%static 'image/logo.png'%}" id="logoImg"></a></div>
                <div id="loginBox">
                    <ul id="signIn">
                        {% if user.is_authenticated %}
                        <a class="nav_link" href="{%url 'accounts:logout'%}">{{user.username}}(Log Out)</a>
                        {% else %}
                        <li><a href="{%url 'accounts:login'%}">Sign In</a></li>
                        {% endif %}
                        <li><a href="{%url 'accounts:signup'%}">Sign Up</a></li>
                        <li><a href="#">My Angels</a></li>
                        <li><a href="{%url 'main:store'%}">STORE</a></li>
                    </ul>
                </div>
                <p id="search_icon"><a href=""><img src="{%static 'image/icon_magnifier_black.png'%}"></a></p>
                <div id="mainMenuBox">
                    <ul id="menuItem">
                            <li><a href="{%url 'main:menu'%}">MENU</a></li>
                            <li><a href="{%url 'main:store'%}">STORE</a></li>
                            <li><a href="{%url 'main:cs'%}">SERVICE</a></li>
                            <li><a href="">WHAT'S NEW</a></li>
                            <li><a href="">STORY</a></li>
                    </ul>
                </div>
            </div>
        </header>
<!-- 위에는 header logo mainMenu Box 구역 -->

     <!--★menuBar★-->
     <article id="menuProduct">
         <!--메뉴: COFFEE / BEVERAGE / BREAD / ICE CREAM-->
         <div id="menuBox">
             <ul id="menu">
                 <li><a href="{%url 'main:menu'%}">SEE ALL</a></li>
                 <li><a href="{%url 'main:menu'%}#coffee">COFFEE</a></li>
                 <li><a href="{%url 'main:menu'%}#beverage">BEVERAGE</a></li>
                 <li><a href="{%url 'main:menu'%}#bread">BREAD</a></li>
                 <li><a href="{%url 'main:menu'%}#icecream">ICE CREAM</a></li>
             </ul>
         </div><!--menuBox 끝-->
     </article>

<!-- 제품상세 container -->
     <section>
     <div id="product_container">
         <!-- 서브 타이틀 -->

         <div id="sub_title">
             <h1>ICE CREAM</h1>
             <ul id="map">
                 <li><a href="{%url 'main:main'%}"><img src="{%static 'image/icon_home.png'%}" alt="홈으로"</a></li>
                 <li><a href=""><img src="{%static 'image/icon_arrow.png'%}" alt="하위메뉴"</a></li>
                 <li><a href="{%url 'main:menu'%}">MENU</a></li>
                 <li><a href=""><img src="{%static 'image/icon_arrow.png'%}" alt="하위메뉴"</a></li>
                 <li><a href="{%url 'main:menu'%}#icecream">ICE CREAM</a></li>
                 <li><a href="#"><img src="{%static 'image/icon_arrow.png'%}" alt="하위메뉴"></a></li>
                 <li><a href="#">초코 넛츠 아포가토</a></li>
             </ul>
         </div>

         <!-- 제품사진 div -->
         <div class="container">
             <div class="show" href="{%static 'image/product/nuts_choco.jpg'%}">
                 <img src="{%static 'image/product/nuts_choco.jpg'%}" id="show-img">
             </div>
         </div>
         <!-- 제품사진 Zoom관련 -->
         <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
         <script src="{%static 'js/zoom-image.js'%}"></script>
         <script src="{%static 'js/product_zoom.js'%}"></script>

         <!-- 제품정보 div-->
         <fieldset id="product_info">
             <div id="product_info_detail">
                 <div id="info_title">
                     <h1>
                         초코 넛츠 아포가토
                         <span style="line-height:20px;">Nuts Chocolate Affogato</span>
                     </h1>


                     <p id="t1">유기농 초콜릿 아이스크림에 스타벅스의 에스프레소를 붓고 고소한 넛츠를 토핑한 아포가토입니다.</p>
                 </div>
                 <div id="mylike">
                     <button id="mylike_N">좋아요</button>
                 </div>
             </div>

             <div id="product_nut">
                 <p style="font-size:18px; float:left;">제품 영양 정보</p>
                 <p style="float:right;">122(g)</p>
             </div>

             <div id="product_nut_info">
                 <ul>
                     <li>
                         <dl>
                             <dt>1회 제공량 (kcal)</dt>
                             <dd>333</dd>
                         </dl>
                     </li>
                     <li>
                         <dl>
                             <dt>포화지방 (g)</dt>
                             <dd>8</dd>
                         </dl>
                     </li>
                     <li>
                         <dl>
                             <dt>나트륨 (mg)</dt>
                             <dd>42</dd>
                         </dl>
                     </li>
                 </ul>
                 <ul>
                     <li>
                         <dl>
                             <dt>당류 (g)</dt>
                             <dd>22</dd>
                         </dl>
                     </li>
                     <li>
                         <dl>
                             <dt>단백질(g)</dt>
                             <dd>7</dd>
                         </dl>
                     </li>
                     <li>
                         <dl>
                             <dt></dt>
                             <dd></dd>
                         </dl>
                     </li>
                 </ul>
             </div>
         </fieldset>

         <div id="space"></div>

         <!-- 제품상세보기 하단공통 -->
         <div id="product_promotion">
             <div id="product_promotion_left">
                 <p>프로모션 새소식</p>
                 <ul>
                     <li>해당 상품과 관련된 진행 중인 프로모션이 없습니다.</li>
                 </ul>
             </div>
             <div id="product_promotion_right">
                 <p id="sirenOrder">
                    <a href=""><img src="{%static 'image/sirenOrder_img.png'%}"></a>
                 </p>
                 <p id="siren_txt1">사이렌오더란?</p>
                 <p id="siren_txt2">
                 매장에서 줄을 서지 않고 주문하는 쉽고 간편한 O2O (Online to Offline) 서비스로서 앱을 통해 결제 및 주문을 완료하면 매장에서 즉시 메뉴를 받을 수 있는 신개념 서비스 입니다.
                 </p>
             </div>
         </div> <!-- 제품상세보기 하단공통 end-->

     </div>
     </section><!-- 제품상세 container end -->

<!-- 아래는 footer Box 구역 -->
        <footer>
            <div id="footerBox">
                <div id="bottomMenuBox">
                    <ul id="bottomMenuItem">
                        <li><a href="#">COMPANY</a></li>
                        <li><a href="#">CORPORATE SALES</a></li>
                        <li><a href="#">PARTNERSHIP</a></li>
                        <li><a href="#">ONLINE COMMUNITY</a></li>
                        <li><a href="#">RECRUIT</a></li>
                    </ul>
                </div>

                <div id="companyInfoBox">
                    <ul id="companyInfo">
                        <li>사업자등록번호 : 123-45-67890</li>
                        <li>주식회사 엔젤컴퍼니</li>
                        <li>TEL : 1555-1555</li>
                        <li>개인정보처리방침</li>
                        <li>Made by 장은영, 김세윤, 김도연, 박세연, 원종현</li>
                        <br><li>@ 2022 Angle in Star Company. All Rights Reserved</li>
                    </ul>
                </div>
                <div id="moveToTopBox"><img src="{%static 'image/moveToTop.png'%}" id="moveToTop"></div>
            </div>
        </footer>
 </div> <!-- wrap 끝 -->


</body>
</html>