{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!--직접 작성한 css, js-->
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{%static 'css/common.css'%}">
    <link rel="stylesheet" type="text/css" href="{%static 'css/signInUp.css'%}">
    <script src="{%static 'js/jquery-3.5.1.min.js'%}"></script>
    <script src="{%static 'js/index.js'%}"></script>
    <script type="text/javascript">
        function openWindow(){
            window.open("welcome.html","success",
            "width=400,height=450,status=yes,scroll=yes,resizable=yes");
			createWin.document.write("<p><button onClick=\"window.close()\">닫기</button>");
        }
    </script>



    <title>AngleinStar 메인페이지</title>
</head>
<body>
{% include "navbar.html" %}
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}

{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->


{% include "footer.html" %}

</body>
</html>